<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_1" parallel="none">
  <test name="Sample Report">
    <classes>

      <class name="TestClass1" />

    </classes>
     <listeners>
         <listener class-name='test.MyReporterListener'/>
 </listeners>
  </test> <!-- Test -->
</suite> <!-- Suite -->
